/* section start */
section {
    width: 75rem;
    margin: 3rem auto 0;
}

/* section end */
/* book-detail start */
.book-detail {
    width: 100%;
    background-color: #fff;
}

.book-detail::after {
    content: "";
    clear: both;
    display: block;
}

.detail-left,
.detail-right {
    box-sizing: border-box;
    float: left;
}

.detail-left {
    width: 15rem;
    padding: 2rem;
}


.detail-img {
}

.detail-img img {
    width: 100%;
}

.detail-right {
    width: 60rem;
    border-left: 0.1rem solid #f0f0f0;
    padding-right: 2rem;
}

.detail-right li {
    padding-top: 1rem;
    padding-left: 2rem;
    border-bottom: 0.1rem solid #f0f0f0;
}

.detail-right li:last-child {
    border-bottom: none;
}

.detail-right li p {
    padding-bottom: 1rem;
}

.detail-name a {
    font-size: 1.5rem;
}

.detail-name a:hover {
    color: #f26552;
}

.detail-name + p span {
    font-size: 0.8rem;
    margin-right: 1rem;
    color: #9e9e9e;
}

.detail-price {
    font-size: 0.8rem;
}

.detail-try,
.detail-buy {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 8%;
    color: #fff;
}

.detail-try {
    background-color: #8bc34a;
    font-size: 0.8rem;
}

.detail-buy {
    background-color: #F26552;
    font-size: 0.8rem;
}

.detail-brief {
    height: 4rem;
    line-height: 1.4rem;
    font-size: 0.8rem;
    color: #9e9e9e;
    padding: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.detail-show {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #9e9e9e;
    display: block;
    float: right;
}

.detail-show:hover {
    color: #F26552;
    cursor: pointer;
}

.detail-right li:last-child::after {
    display: block;
    content: "";
    clear: both;
}

/* book-detail end */

/* book-community start */
.book-community {
    background-color: #fff;
    display: flex;
}

.community-left {
    min-width: 55rem;
    background-color: #fff;
}

.comment-header {
    padding: 2rem;
    border-bottom: 0.1rem solid #f0f0f0;
}

.comment-header .comment-title {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
    border-right: 0.2rem solid #f0f0f0;
}

.comment-header .comment-count {
    color: #9e9e9e;
    padding-left: 1rem;
}

.comment-header .comment-write {
    float: right;
    color: #fff;
    background-color: #8bc34a;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.comment-list .comment-detail {
    display: flex;
    width: 55rem;
    padding: 2rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #f0f0f0;
}

.comment-detail .user-img {
    width: 3rem;
    height: 3rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    float: right;
}

.comment-detail .user-img img {
    width: 100%;
}

.comment-detail .comment-other {
    width: 45rem;
    padding-left: 1rem;
}

.comment-other p:first-child {
    margin-bottom: 1rem;
}

.comment-other .user-name {
    font-size: 1rem;
    display: inline-block;
    padding-right: 1rem;
}

.comment-other .user-vip {
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
    display: inline-block;
    background-color: #d2d2d2;
    color: #fff;
}

.comment-other .comment-time {
    float: right;
    color: #9e9e9e;
}

.comment-other .comment-content {
    color: #9e9e9e;
    font-size: 0.9rem;
}

.comment-other p:last-child {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.comment-other .community-like {
    padding-right: 1rem;
    color: #9e9e9e;
}

.comment-other .community-comment {
    padding-left: 1rem;
    color: #9e9e9e;
}

.comment-other .community-reply {
    float: right;
    color: #9e9e9e;
}

.community-right {
    border-left: 0.5rem solid #f0f0f0;
    background-color: #fafafa;
    min-width: 20rem;
}

.book-recommend > p {
    font-size: 1.5rem;
    padding: 2rem;
    border-bottom: 0.1rem solid #f0f0f0;
}

.book-recommend .recommend-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
}

.recommend-list .recommend-detail {
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
}

.recommend-detail .detail-img {
    display: block;
    margin-bottom: 0.25rem;
}

.detail-img img {
    width: 100%;
}

.recommend-detail .detail-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend-detail .detail-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #9e9e9e;
}

/* book-community end */

