
/* section start */
section {
    width: 75rem;
    margin: 3rem auto 0;
}
/* section end */
/* option-menu start */
.option-menu {
    background-color: #fff;
    padding: 1.5rem 2rem;
    font-size: 0.8rem;
}

.option-menu::after,
.option-menu ul::after {
    content: "";
    display: block;
    clear: both;
}

.option {
    float: left;
}

.option-type {
    float: left;
    color: #ccc;
    padding-top: 1.1rem;
}

.option-menu ul {
    border-bottom: 0.01rem solid #f0f0f0;
    margin-left: 3rem;
    padding: 0.5rem 0;
}

.option-menu ul li {
    padding: 0.25rem 0;
    margin: 0.25rem 0.25rem;
}

.option a {
    padding: 0 1rem;
    color: #212121;
    cursor: pointer;
}

.option {
    border: 0.05rem solid transparent;
    border-radius: 2rem;
}

.option:hover {
    border: 0.05rem solid #ff2a00;
}

.option.active {
    background-color: #ff2a00;
}
.option.active a {
    color: #fff;
}


/* option-menu end */

/* 列表 book-list start */
.book-sort {
    width: 100%;
}

.book-sort::after {
    content: "";
    display: block;
    clear: both;
}

.book-sort li {
    float: left;
    border: 0.05rem solid transparent;
    border-bottom: none;
}

.book-sort li a {
    display: block;
    background-color: #f7f7f7;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    color: #9e9e9e;
    font-size: 0.9rem;
}
.book-sort li a:hover{
    color:#f26552;
}

.book-sort li.active a {
    color:#f26552;
    background-color: #fff;
}

.book-list {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.book-list,
.book,
.book-left,
.book-right {
    box-sizing: border-box;
}

.book-list::after {
    content: "";
    clear: both;
    display: block;
}

.book {
    padding: 1rem;
    width: 20rem;
    margin: 1rem 2rem;
    border: 0.1rem solid #f0f0f0;
    border-radius: 0.5rem;
    transition: box-shadow 0.5s;
}

.book:hover {
    box-shadow: #f0f0f0 5px 5px 10px 0;
}

.book,
.book-left,
.book-right {
    float: left;
}

.book-left {
    width: 7rem;
    padding-right: 0.7rem;
    overflow: hidden;
}

.book-left img {
    width: 100%;
    transition: transform 0.5s;
}

.book-left img:hover {
    transform: scale(1.1, 1.1);
}

.book-right {
    width: 10rem;
}

.book-name {
    font-size: 1.1rem;
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.05rem solid #f0f0f0;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-name a {
    color: #212121;
}

.book-name a:hover {
    color: #f26552;
}

.book-author,
.book-numberWord,
.book-brief {
    font-size: 0.8rem;
    display: block;
    color: #9e9e9e;
    margin-bottom: 0.5rem;

}

.book-author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-numberWord {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-brief {
    margin-bottom: 0;
    line-height: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 列表 book-list end */

