@charset "utf-8";
$white: #fff;
$black: #212121;
$brown: #e3d1bd;
$gray: #9e9e9e;
$jacinth: #e43a2e;
$light-brown: #f8f0e7;
$light-gray: #f0f0f0;
$light-jacinth: #f26552;
section {
  .rank-title {

    background-color: $light-gray;
    text-align: center;

    p {
      span {
        color: $jacinth;
        font-size: 1.5rem;
        padding-right: 0.5rem;
      }

      padding: 1.5rem 0;
      font-size: 1.5rem;
    }

  }

  .rank-type {

    ul {
      display: flex;
      justify-content: space-between;
      background-color: $white;
      border-bottom: 0.01rem solid $light-gray;
      padding: 1rem;

      li {
        width: 100%;
        text-align: center;

        p {
          color: $gray;
          font-size: 1rem;
          padding: 0.25rem 0;

          & + p {
            font-size: 0;
          }
        }

        a {
          font-size: 0.8rem;
          color: $black;
          padding: 0 0.5rem;
          text-align: center;

          &:not(:last-child) {
            border: 0.01rem solid transparent;
            border-right-color: $gray;
          }

          &:hover {
            color: $jacinth;
          }


        }
      }
    }

  }

  .rank-content {
    background-color: $white;

    ul {
      padding: 1rem 2rem;

      li:first-child {
        background-color: $light-gray;

        span {
          font-size: 0.8rem;
          color: $gray;
        }
      }

      li {
        display: flex;
        justify-content: space-around;
        border-bottom: 0.1rem dotted $light-gray;
        &:hover{
          background-color: $light-gray;
        }
        span {
          padding: 1rem;
          color: $gray;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .rank {
          width: 8rem;
        }

        .book-name {
          width: 35rem;
          color: $black;

          &:hover {
            color: $jacinth;
            cursor: pointer;
          }
        }

        .book-author {
          width: 10rem;
        }

        .book-type {
          width: 10rem;
        }

        .book-read {
          width: 8rem;
        }
      }


    }
  }
}