section {
    min-width: 75rem;
    width: 100%;
    background: url("../../image/image/image-517013.jpg") no-repeat;
    background-size: cover;
    min-height: 40rem;
}
section:before{
    content: "";
    display: table;
}
.login {
    width: 20rem;
    padding: 2rem;
    background-color: #fff;
    margin-top: 5rem;
    margin-left: 60%;
}

.login > p {
    margin: 1rem 0 2rem;
}

.login .title {
    font-size: 1.5rem;
    display: inline-block;
    color: #ff2a00;
}

.login .to-register {
    line-height: 2rem;
    display: inline-block;
    float: right;
    color: #9e9e9e;
}

.login .to-register:hover {
    color: #ff2a00;
}

.login > div:not(:last-child) {
    height: 5rem;
}

.login input[id]:not(#auto) {
    width: 100%;
    display: inline-block;
    height: 2.5rem;
    padding-left: 0.25rem;
    box-sizing: border-box;
    color: #9e9e9e;
    margin-bottom: 0.25rem;
}

.login input[id]:not(#auto):focus {

    outline-color: #ff2a00;
}

.login span {
    display: block;
    color: #9e9e9e;
    font-size: 0.8rem;
}


.login .auto {
    height: 3rem !important;
    color: #9e9e9e;
}

.login .forget {
    float: right;
    display: inline-block;
    color: #9e9e9e;
}
.login .forget:hover{
    color: #ff2a00;
}

.login button {
    width: 50%;
    height: 2.5rem;
    color: #fff;
    background-color: #ff2a00;
    border: none;
    transition: width 1.2s;
    margin-bottom: 2rem;
}

.login button:hover {
    cursor: pointer;
    background-color: #ff2a00;
    width: 100%;
}


