.footer {
    width: 75rem;
    margin: auto;
    padding: 1rem 0;
}

.footer li p {
    color: #9e9e9e;
}

.footer li {
    text-align: center;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
}

.footer .website-email, .footer .website-phone {
    display: inline-block;
    margin: 0 0.5rem;
}